* {
   -darkblue: #29425b;
   -lightblue: #d4deea;
   -lightblue-gradient: linear-gradient(to bottom, derive(-lightblue, 40%), -lightblue);
}

.expert-pane {-fx-min-width: 300;}

.setup-flow-pane {
  -fx-alignment:      top-center;
  -fx-row-valignment: top;
  -fx-padding:        10 10 10 10;
  -fx-vgap:           10;
  -fx-hgap:           10;
}

.parameter-grid-pane {
  -fx-hgap: 10;
  -fx-vgap: 2;
  -fx-max-width: 300;
}

.parameter-grid-pane TextField {
  -fx-pref-width: 100;
  -fx-alignment:  center;
}

.parameter-grid-pane ChoiceBox {
  -fx-pref-width: 100;
  -fx-alignment:  center;
}


.hps-alternatives-tree {
  -fx-pref-width: 440;
  -fx-min-width:  300;
  -fx-min-height: 200;
/*
  -fx-min-height: 500;
*/
}

/*
#decision-modules-pane {
  -fx-min-width: 800;
}
*/

/*
#state-region-pane {
  -fx-min-width: 600;
}
*/

#hps-controlRegion {
  -fx-fill-width:       true;
/*
  -fx-background-color: linear-gradient(to bottom, #B0B0B0, #E6E6E6);
*/
  -fx-background-color: -lightblue-gradient;
}

.kopi-control-button-box {
  -fx-insets:    20 10 20 0;
  -fx-hgap:      10.0;
  -fx-vgap:      8.0;
  -fx-alignment: bottom-center;
}

.kopi-control-elements-box {
  -fx-padding:   10 10 10 10;
  -fx-spacing:   10;
  -fx-alignment: center;
}

.container {
/*
  -fx-padding:   10 10 10 10;
*/
  -fx-spacing:   10;
}

.kopi-control-elements-box > .container {
  -fx-alignment: bottom-center;
}

.control-button {
  -fx-background-color: -darkblue; /*#707070;*/
  -fx-label-padding: 0 0 0 0;
}

.caption {
  -fx-font-weight: bold;
}

/*
.tab *.tab-label {
  
}
*/

.tab-dm-active *.tab-label{
  -fx-underline: true;
  -fx-font-weight: bold;
}

.mnemonic-underline {
    -fx-stroke: -fx-text-base-color;
}
